.non-styled {
  margin-left: -40px;
  list-style-type: none;
} 
.margin-base-vertical {
    margin: 0px 0px 20px 0px;
}
.content {
  margin-top: 20px;
}

p, label {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 16px;
  display: block;
  color: #333;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

a:link { text-decoration:none; color:#000; }
a:visited { text-decoration:none; color:#000; }
a:hover { text-decoration:none; color:#BBB;; }
a:active { text-decoration:none; color:#999;; }
a:focus { text-decoration:none; background-color:#BBB; }

.my-inner-container {
    width: 100%;
	padding: 15px;
    margin: 0 auto;
	margin-bottom: 30px;
  	background-color: #fff;
  	-webkit-border-radius: 4px;
  	-webkit-box-shadow: inset -1px 0 0 0 #d2d2d2,inset -1px 0 0 0 #e6e6e6,inset 1px 0 0 0 #d2d2d2,1px 0 0 0 #e6e6e6,0 -1px 0 0 #e8e8e8,0 2px 0 0 rgba(241,241,241,0.3),0 1px 0 0 #b1b1b1;
  	-moz-box-shadow: inset -1px 0 0 0 #d2d2d2,inset -1px 0 0 0 #e6e6e6,inset 1px 0 0 0 #d2d2d2,1px 0 0 0 #e6e6e6,0 -1px 0 0 #e8e8e8,0 2px 0 0 rgba(241,241,241,0.3),0 1px 0 0 #b1b1b1;
}

.my-table-container {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset -1px 0 0 0 #d2d2d2,inset -1px 0 0 0 #e6e6e6,inset 1px 0 0 0 #d2d2d2,1px 0 0 0 #e6e6e6,0 -1px 0 0 #e8e8e8,0 2px 0 0 rgba(241,241,241,0.3),0 1px 0 0 #b1b1b1;
    -moz-box-shadow: inset -1px 0 0 0 #d2d2d2,inset -1px 0 0 0 #e6e6e6,inset 1px 0 0 0 #d2d2d2,1px 0 0 0 #e6e6e6,0 -1px 0 0 #e8e8e8,0 2px 0 0 rgba(241,241,241,0.3),0 1px 0 0 #b1b1b1;
}

.scrollable-box {
  height: 300px;
  overflow: auto;
}


img.no-resize {
  min-height: 100px;
  min-width: 143px;
  height:100px;
  width:143px;
}