.axis path,
.axis2 line,
.axis2 path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y line {
  stroke: lightgrey;
  opacity: 0.7;
}

.line {
  stroke-width: 1;
  fill: none;
  clip-path: url(#clip);
}

.area {
  clip-path: url(#clip);
  stroke-width: 0;
  opacity: 0.7;
}

.circle {
  stroke: #222;
  stroke-width: 1;
}

.overlay {
  opacity: 0.3;
  fill: none;
  pointer-events: all;
  z-index: 25;
}

.tip {
  position: absolute;  
  text-align: center;
  width:140px;
  height: 25px;
  color: #FFFFFF;
  background: #000000;
  line-height: 25px;
  border-radius: 0px;
  pointer-events: none;
  margin-left: -70px;
  margin-top: -70px;
}
.tip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.hover-line {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.rect-border {
  stroke: #000;
  stroke-width:1;
}

.label {
  font-size: 18px;
  fill: #333;
}

.selecting circle {
  fill-opacity: .7;
}

.selecting circle.selected {
  stroke: #f00;
  fill-opacity: 1;
  radius: 7;
}

.arc path {
  stroke: #fff;
}

.trendline {
  stroke: #000;
  fill: none;
  stroke-width: 1;
}