<div class="row equal">
	<div class="col col-md-8">
		<div ng-repeat="dataset in stringdatasets">
			<div ng-show="dataset.values.length > 2 && rendered">
				<accordion>
				    <accordion-group is-open="accopen" style="width: 845px;">
				        <accordion-heading>
					    	<i class="glyphicon glyphicon-file"></i>
					    	<span class="pointer">Log Files for {{dataset.key}}</span>
					    	<i class="pull-right glyphicon pointer" ng-class="{'glyphicon-chevron-down': accopen, 'glyphicon-chevron-right': !accopen}"></i>
        				</accordion-heading>
						<div pipelinr-point-graph></div>
				    </accordion-group>
				</accordion>
			</div>
		</div>
	</div>
	<div class="col col-md-2">
		<div><!--Placeholder--></div>
	</div>
</div>

<div ng-repeat="dataset in intdatasets">
	<div ng-show="dataset.values.length > 2 && rendered">
		<div class="row equal">
			<div class="col col-md-8">
				<accordion>
				    <accordion-group is-open="accopen" style="width: 845px;">
				        <accordion-heading>
					    	<i class="glyphicon glyphicon-stats"></i>
					    	<span class="pointer">Values for {{dataset.key}}</span>
			    			<i class="pull-right glyphicon pointer" ng-class="{'glyphicon-chevron-down': accopen, 'glyphicon-chevron-right': !accopen}"></i>
    					</accordion-heading>
						<div pipelinr-line-graph></div>
				    </accordion-group>
				</accordion>
			</div>
			<div class="col col-md-2">
				<accordion>
				    <accordion-group is-open="accopen" style="width: 230px;">
				        <accordion-heading>
				    		<i class="glyphicon glyphicon-dashboard"></i>
				    		<span class="pointer">Value Distribution</span>
							<i class="pull-right glyphicon pointer" ng-class="{'glyphicon-chevron-down': accopen, 'glyphicon-chevron-right': !accopen}"></i>
    					</accordion-heading>
						<div pipelinr-donut></div>
				    </accordion-group>
				</accordion>			
			</div>
		</div>
	</div>
</div>

<div class="row equal">
	<div class="col col-md-8">
		<div ng-show="stringdatasets[0].values.length > 2 && rendered">
			<accordion>
			    <accordion-group is-open="accopen" style="width: 845px;">
			        <accordion-heading>
				    	<i class="glyphicon glyphicon-move"></i>
				    	<span class="pointer">Overview</span>
						<i class="pull-right glyphicon pointer" ng-class="{'glyphicon-chevron-down': accopen, 'glyphicon-chevron-right': !accopen}"></i>
					</accordion-heading>
					<div id="context-container"/>
					<div id="legend-container"/>
			    </accordion-group>
			</accordion>
		</div>
	</div>
	<div class="col col-md-2">
		<!--Placeholder -->
	</div>
</div>

<!--<div class="row equal">
	<div class="col col-md-8">
		<div ng-show="stringdatasets[0].values.length > 2 && rendered">
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">
				    	<i class="glyphicon glyphicon-file"></i>
				    	Log Files
				    </h3>
				</div>
				<div class="panel-body">
					<div class="my-table-container scrollable-box">
						<table class="table table-hover table-top dashboard-table" id="tr_list">
						    <colgroup>
						       <col span="1" style="width: 25%;">
						       <col span="1" style="width: 25%;">
						       <col span="1" style="width: 50%;">
						    </colgroup>
						    <tr ng-repeat="value in stringdatasets[0].values" ng-click="clickValue(value)" ng-mouseover="hoverValue(value)" ng-mouseleave="hoverOutValue(value)" class="selected">
						    	<td class="table-timestamp">{{value.timestamp}}</td>
						    	<td class="table-level">{{value.level}}</td>
						    	<td>{{value.value}}</td>
						    </tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col col-md-2">

	</div>
</div>-->