<div ng-repeat="dataset in stringdatasets">
	<div ng-show="dataset.values.length > 2">
		<div class="my-inner-container">
			<div pipelinr-point-graph></div>
		</div>
	</div>
</div>
<div ng-repeat="dataset in intdatasets">
	<div ng-show="dataset.values.length > 2">
		<div class="my-inner-container">
			<div pipelinr-line-graph></div>
		</div>
	</div>
</div>
<div class="my-inner-container">
	<div id="context-container"/>
	<div id="legend-container"/>
</div>

<div class="row equal">
	<div class="col col-md-11">
		<div class="my-table-container scrollable-box">
			<table class="table table-hover table-top dashboard-table" id="tr_list">
			    <colgroup>
			       <col span="1" style="width: 25%;">
			       <col span="1" style="width: 25%;">
			       <col span="1" style="width: 50%;">
			    </colgroup>
			    <tr ng-repeat="value in stringdatasets[0].values" ng-click="clickValue(value)" ng-mouseover="hoverValue(value)" ng-mouseleave="hoverOutValue(value)" class="selected">
			    	<td class="table-timestamp">{{value.timestamp}}</td>
			    	<td class="table-level">{{value.level}}</td>
			    	<td>{{value.value}}</td>
			    </tr>
			</table>
		</div>
	</div>
</div>