
<h1 class="margin-base-vertical">Have you ever seen the rain?</h1>
<p>
    Someone told me long ago there's a calm before the storm. I know, It's been comin for some time.
</p>
<p>
    When it's over, so they say, it'll rain a sunny day. I know,    Shinin down like water.
</p>
<p>
    I want to know, have you ever seen the rain?
</p>
<form action="/mailing-list" method="post" class="margin-base-vertical">
    <p class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control input-large" name="email" placeholder="jonsnow@knowsnothi.ng" />
    </p>
    <p class="help-block text-center"><small>We won't send you spam. Unsubscribe at any time.</small></p>
    <p class="text-center">
        <button type="submit" class="btn btn-success btn-large">Keep me posted</button>
    </p>
    </span>
</form>
