<div class="container">
	<div class="row equal">
		<div class="col col-md-8">
			<div style="width:100%;">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row equal">
		<div class="col col-md-8">
			<input type="text" class="form-control margin-base-vertical" ng-model="query" placeholder="Search">
		</div>
	</div>
</div>
<div class="container">
	<div class="row equal">
		<div class="col col-md-8">
			<div class="my-table-container">
				<table class="table table-top" id="tr_list">
				    <colgroup>
				       <col span="1" style="width: 25%;">
				       <col span="1" style="width: 25%;">
				       <col span="1" style="width: 25%;">
				       <col span="1" style="width: 25%;">
				    </colgroup>
					<tr><th>Pipeline</th><th>Origin Id</th><th></th><th>Datasets</th><th></th><tr>
					<tr ng-repeat="pipeline in pipelines | filter:search">
						<td>
							<p><span class="label label-info" style="font-size: 12px;">{{pipeline.state}}</span> {{pipeline.name}}</p>
						</td>
						<td>
							<p>{{pipeline.origin_id}}</p>
						</td>
						<td>
							<a href="#/pipeline-list/{{pipeline._id}}">
							<button type="button" class="btn btn-default">
							  <span class="glyphicon glyphicon-stats"></span>
							</button></a>
							<button type="button" class="btn btn-default">
							  <span class="glyphicon glyphicon-edit"></span> Edit
							</button>
							<button type="button" class="btn btn-danger" ng-click="deletePipeline(pipeline)">
							  <span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
						<td>      
							<ul>
					         <li class="non-styled" ng-repeat="dataset in pipeline.datasets"> 
					            <p>
    								<button type="button" class="btn btn-xs btn-default">
									  <span class="glyphicon glyphicon-edit"></span> Edit
									</button>
					            	<button type="button" class="btn btn-xs btn-danger" ng-click="deleteDataset(pipeline, dataset)">
									  <span class="glyphicon glyphicon-trash"></span>
									</button>
					            	<span class="label label-info" style="font-size: 12px;">{{dataset.state}}</span> {{dataset.key}} <span class="badge">{{dataset.count}}</span>
								</p>
					         </li>
					       </ul>
				   	   </td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
