<div class="container-fluid">
	<div ng-controller="RegisterCtrl">
		<div class="row-fluid">
			<div class="col col-md-6 col-md-offset-2">
				<div class="my-inner-container">
					<div class="container">
					<div class="row">
						<div class="col col-md-2">
					<img src="img/pipelinr-logo.png" alt="pipelinr-logo" height="100px" width="100%" style="margin-top:60px;" />
					</div>
					<div class="col col-md-7">
					<h1 style="font-weight:bold; color:gray;">Pipelinr</h1>
					<p>Pipelinr is an realtime data processing tool ...
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kas</p>
					</div>
					</div>
				</div>
				</div>
			</div>
			<div class="col col-md-2">
				<div class="my-inner-container">
					<h1>Sign up</h1>
					<form name="signupForm" role="form" ng-submit="addUser()" novalidate>
					  <div class="form-group">
						<label for="email">Email</label>
						<input size="30" id="email" name="email" ng-model="newUser.email" type="email" class="form-control" placeholder="Enter your email" required>
						<span class="help-inline" ng-show="signupForm.$error.email">Invalid Email format!</span>
	  				  </div>
	  				  <div class="form-group">
				  		<label for="username">Username</label>
					  	<input id="username" name="username" ng-model="newUser.username" type="text" class="form-control" placeholder="Enter your username" required>
					  </div>
					  <div class="form-group">
					  	<label for="password1">Password</label>
					  	<input id="password1" name="password1" ng-model="newUser.password1" type="password" class="form-control" placeholder="Enter your password" required>
					  </div>
					  <div class="form-group">
					  	<label for="password2">Confirm Password</label>
					  	<input id="password2" name="password2" ng-model="newUser.password2" type="password" class="form-control" pw-check="password1" placeholder="Confirm your password" required>
					  	<span class="help-inline" ng-show="signupForm.password2.$error.pwmatch">Passwords don't match!</span>
					  </div>
					  <button type="submit" ng-disabled="!signupForm.$valid" class="btn btn-default">Sign up</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>