<loading/>

<div class="container">
	<div class="row equal">
		<div class="col col-md-2">
			<accordion>
			    <accordion-group is-open="rendered" style="width: 230px;">
			        <accordion-heading>
			    	<i class="glyphicon glyphicon-info-sign"></i>
			    	Information
					<i class="pull-right glyphicon pointer" ng-class="{'glyphicon-chevron-down': rendered, 'glyphicon-chevron-right': !rendered}"></i>
				  	</accordion-heading>
					<div><label>Id:</label>{{pipeline._id}}</div>
					<div><label>Name:</label>{{pipeline.name}}</div>
					<div><label>Begin:</label>{{earliestDate}}</div>
					<div><label>End:</label>{{latestDate}}</div>
			   </accordion-group>
			</accordion>
		</div>
		<div class="col col-md-8">
			<accordion>
			    <accordion-group is-open="rendered" style="width: 845px;">
			        <accordion-heading>
			    		<i class="glyphicon glyphicon-search"></i>
			    		Process Pipeline
						<i class="pull-right glyphicon pointer" ng-class="{'glyphicon-chevron-down': rendered, 'glyphicon-chevron-right': !rendered}"></i>
					</accordion-heading>
	
			      	<form name="getPipelineForm" class="form-horizontal" role="form" ng-submit="getPipeline(rate, dateDropDownInput1, dateDropDownInput2)" novalidate>

						<!--<div class="form-group row">
						    <div class="col-lg-6">
						        <label for="formDOB">Date of Birth</label>
						        <p class="input-group">
						          <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="record.birthDate" is-open="calendar.opened.dob" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Date of Birth" />
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'dob')"><i class="glyphicon glyphicon-calendar"></i></button>
						          </span>
						        </p>
						    </div>
						    <div class="col-lg-6">
						        <label for="formWinDate">Win Date</label>
						        <p class="input-group">
						          <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="record.winDate" is-open="calendar.opened.win" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Win DAte" />
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'win')"><i class="glyphicon glyphicon-calendar"></i></button>
						          </span>
						        </p>
						    </div>
						</div>-->

			      		<div class="form-group">
					        <label class="col-sm-2 control-label" for="beginSearchInput">Begin:</label>
					        <div class="dropdown col-sm-5">
							  <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
							    <div class="input-group"><input type="text" class="form-control" data-ng-model="dateDropDownInput1" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							    </div>
							  </a>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							    <datetimepicker data-ng-model="dateDropDownInput1" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"/>
							  </ul>
							</div>
						</div>
						<div class="form-group">
					        <label class="col-sm-2 control-label" for="endSearchInput">End:</label>
					        <div class="dropdown col-sm-5">
							  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
							    <div class="input-group"><input type="text" class="form-control" data-ng-model="dateDropDownInput2" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							    </div>
							  </a>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							    <datetimepicker data-ng-model="dateDropDownInput2" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
							  </ul>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-7">
								<!--<div class="btn-group" style="vertical-align: bottom;" data-toggle="buttons">
								  <label class="btn btn-default active">
								    <input type="radio" name="options" id="option1" ng-model="radioMod" checked> Static
								  </label>
								  <label class="btn btn-default">
								    <input type="radio" name="options" ng-model="radioMod" id="option2"> Real-time
								  </label>
								</div>-->

							    <div class="btn-group" style="margin-top: -15px">
							    	<span ng-repeat="key in keyCheckModel">
								    	<label class="btn btn-default" ng-model="key.checked" btn-checkbox>{{key.name}}</label>
								    </span>
							    </div>
							</div>
						</div>
						<hr>
						<!-- more -->
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-7">
								<button type="button" class="btn btn-default btn-xs" ng-click="isCollapsed = !isCollapsed">Extended Options</button>
							</div>
						</div>
						
						<div collapse="isCollapsed">
				
							<div class="form-group">
								<label class="col-sm-2 control-label">Sampling:</label>

								<div class="col-sm-2">
								    <select class="form-control btn-xs" ng-model="selSamplingMethod.value">
								        <option ng-selected="{{method.value == selSamplingMethod.value}}" ng-repeat="method in samplingMethods" value="{{method.value}}">{{method.name}}</option>
								    </select>
								</div>

								<div class="col-sm-5">
							        <div style="display: inline-block; margin-left:10px;">Sampling Rate: {{rate}}</div>
							        <div slider config="sliderConfig" model="rate" class="cdbl-slider"></div>
							    </div>
						    </div>
					
						</div>
						<hr>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-7">
					        	<button type="submit" class="btn btn-default">Send</button>
					        </div>
					    </div>

			      	</form>
		
			    </accordion-group>
			</accordion>	
		</div>
	</div>

	<div class="row equal">
		<div class="col col-md-8">

		</div>
	</div>

	<div pipelinr-dashboard id="pipelinr-dashboard" pipeline='pipeline' date='date' rendered='rendered'></div>

</div>