.navbar-default {
	background-color: #fff;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: -15px;
	margin-top: -5px;
	color:#333;
}

.panel {
	width: 100%;
}

/*.panel-default>.panel-heading {
	background-color: #fff
}*/

.popover {
  width: 350px;
}